{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="shadow p-5 text-center">
                <h3 class="mb-4 text-success">Check Your Email</h3>
                <hr>
                <p class="mb-4">
                    We've sent you an email with instructions to reset your password.  
                    If you don't see it in your inbox shortly, please check your spam folder.
                </p>
                <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXZ2dHRybjU5dmE5ZTR2ejY2YzhxM2ZmbHV6dW5jOGkzZnp2NG9zaCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/bcKmIWkUMCjVm/giphy.gif"
                     class="img-fluid rounded" alt="Email Sent Confirmation">
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
