{% extends 'app/base.html' %}
{% load static %}

{% block title %}Set New Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="shadow p-5">
                <h3 class="mb-4 text-primary">Set Your New Password</h3>
                <hr>

                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }} {{ field }}
                            <small class="text-danger">{{ field.errors|striptags }}</small>
                        </div>
                    {% endfor %}

                    <div class="form-group d-grid mt-3">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mt-3">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
