{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="shadow p-5 text-center">
                <h3 class="mb-4 text-success">Your Password Has Been Reset</h3>
                <hr>
                <p class="mb-4">
                    Your new password has been set successfully. You can now log in with your new password.
                </p>
                <!-- Giphy image -->
                <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXZ2dHRybjU5dmE5ZTR2ejY2YzhxM2ZmbHV6dW5jOGkzZnp2NG9zaCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/bcKmIWkUMCjVm/giphy.gif"
                     class="img-fluid rounded" alt="Password Reset Complete">

                <a href="{% url 'login' %}" class="btn btn-primary mt-4">Go to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
